In [12]:
import pandas as pd

In [20]:
file = 'API_Weather_Data.csv'
file_df = pd.read_csv(file, encoding="ISO-8859-1", index_col=False)
file_df = file_df.reset_index()
file_df = file_df.drop(['Unnamed: 0'],axis=1)
file_df = file_df.drop(['index'], axis=1)
file_df.head(-5)

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp (F)
0,cidreira,-30.1811,-50.2056,281.15,59,4,7.96,BR,1627441397,46.400
1,hermanus,-34.4187,19.2345,284.21,66,99,5.46,ZA,1627441399,51.908
2,rikitea,-23.1203,-134.9692,296.60,79,100,6.84,PF,1627441318,74.210
3,harper,4.3750,-7.7169,297.69,75,100,3.32,LR,1627441401,76.172
4,oksfjord,70.2396,22.3479,284.26,87,25,2.14,NO,1627441402,51.998
...,...,...,...,...,...,...,...,...,...,...
535,aqtobe,50.2797,57.2072,289.20,67,0,1.00,KZ,1627442178,60.890
536,ritchie,-29.0380,24.6028,279.71,47,3,4.59,ZA,1627442179,43.808
537,lomovka,53.9194,58.3672,289.66,69,22,2.37,RU,1627442181,61.718
538,tiebissou,7.1574,-5.2257,296.29,93,98,2.19,CI,1627442182,73.652
539,sooke,48.3746,-123.7276,295.06,45,32,4.39,CA,1627442106,71.438

In [25]:
file_df.to_html(buf="table.html" ,col_space=3, index=False, justify='right', classes="table", encoding="utf-8")